<%-include("menu.ejs")%>

<h1>
    add user page
</h1>
<form action="/register" method="post">
<input type="text" name="name"> <br>
<input type="text" name="age"> <br>
<button>Submit</button>
</form>